.iyjar { 
  font-size: 10px;
  border-bottom-width: 21px;
  padding-top: 12px;
  border-right-width: 53px;
  padding-left: 96px;
  border-bottom-width: 13px;
  padding-bottom: 26px;
  line-height: 37px;
  margin-top: 76px;
  margin-bottom: 31px;
  margin-top: 74px;
  margin-right: 72px;
  padding-top: 38px;
  padding-bottom: 79px;
  border-left-width: 94px;
  margin-bottom: 17px;
  margin-right: 89px;
}
